<footer class="footer footer-horizontal footer-center text-base-content rounded p-10 border-t-1 border-t-slate-600/30">
  <aside>
    <p class="text-sm">This is a community-driven project. For contributions, please visit our <a href="{{ site.repo_url }}" target="_blank" class="link link-hover">GitHub repository</a>.</p>
  </aside>
</footer>
