<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<!-- Google Specific -->

<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="generator" content="eleventy">
<meta name="format-detection" content="telephone=no">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<title>
    {% if title %}{{ title }} | {% endif %}{{ site.title }}
</title>

<!-- Apple Touch Icon (reuse 192px icon.png) & standard favicons -->
<link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">

<!-- disallow Twitter from using your site's info for personalization purposes -->
<meta name="twitter:dnt" content="on">
