<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      <!-- Capture the CSS content as a Nunjucks variable -->
      {% set css %}{% include "styles.min.css" %}{% endset %}
      <style>
        {{css | safe}}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/build/styles.min.css">
    {% endif %}

    <!-- Try and serve Google Fonts in the most efficent way possible -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript>
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" type="text/css"/>
    </noscript>
  </head>
  <body>
    {% include "header.njk" %}
    <a href="#main" class="skip-link">Skip to main content</a>
    {{ content | safe }}
    {% include "footer.njk" %}
  </body>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="/static/build/scripts.min.js" defer></script>
</html>
