---
layout: base.njk
title: Home
---

<main id="main" class="lg:pt-32 p-6 max-w-6xl mx-auto">
    <div role="alert" class="alert alert-warning alert-vertical sm:alert-horizontal mb-10">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
      <div>
        <h3 class="font-bold">Adult Content Warning!</h3>
        <div class="text-xs">This documentation is intended for adults (18+) and relates to modding an adult-oriented game.</div>
      </div>
    </div>

    <div class="prose max-w-full text-center mb-5">
        <h1>AA2 Cardmaker Toolkit</h1>
        <p>The AA2 Cardmaker Toolkit is a collection of tools and resources for creating and customizing cards for the game Artificial Academy 2 (AA2).</p>
        <p>This toolkit is designed to help modders and enthusiasts by providing easy-to-use tools for card creation.</p>
        <p>This is a community-driven project and not officially affiliated with the game's developers in any way.</p>
        <p class="font-semibold">Contributions are welcome and encouraged.</p>
        <hr>
        <div class="not-prose">
          <a class="btn btn-primary" href="{{ "/editor" | htmlBaseUrl }}">Editor Reference</a>
        </div>
    </div>
</main>
