---
layout: base.njk
title: SB3Utility Modding Tool
---

<main id="main" class="lg:pt-32 p-6 max-w-6xl mx-auto">
  <heading-anchors>
    <div class="prose max-w-full mb-5">
        <h1 class="text-center">SB3Utility v1.0.54 Epsilon</h1>
        <div>
          <img src="/static/images/sb3u_hero.png" alt="">
        </div>
        <p>This is a tool required for modding the game. It allows opening and editing various game files such as <code>.pp, .xx, .xa, etc</code></p>
        <hr class="mt-0 mb-5">
        <div class="not-prose text-center">
          <a class="btn btn-primary" href="https://www.mediafire.com/file/qtglzbdau63wd0k/SB3UGS_v1.0.54epsilon%2BTools_20250601.7z/file" target="_blank">Download SB3Utility</a>
        </div>
        <hr class="mt-5 mb-5">
        <h2>What is included</h2>
        <p>This is the last version that supports non-Unity based games. It has been customized to include the tools found in the 1.0.16 AA2 bundle, so usability should be the same but with less bugs. Check <code>ChangeLog.txt</code> for more details.</p>
        <ul>
          <li>Config file tweaked for portable tool installation and usability.</li>
          <li>Tools added for modifying .eyes, .tty, .xl, .icf (Yuusha) and .plst (Yuusha) files.</li>
          <li>BPSTool updated from v1.3c to v1.3d.</li>
          <li>Tool backups placed in "archives" folder.</li>
          <li>Batch scripts added to "scripts" folder. Drag files into these to use.</li>
        </ul>
        <p>The included tools versions are:</p>
        <table>
          <thead>
            <tr>
              <th>Tool</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SB3Utility</td>
              <td>v1.0.54 Epsilon</td>
            </tr>
            <tr>
              <td>BPS Tool</td>
              <td>v1.3d</td>
            </tr>
            <tr>
              <td>EyesTool</td>
              <td>v2.0</td>
            </tr>
            <tr>
              <td>ICF Tool</td>
              <td>v1.0</td>
            </tr>
            <tr>
              <td>Kys Tool</td>
              <td>v1.0</td>
            </tr>
            <tr>
              <td>Plst Tool</td>
              <td>v2.0</td>
            </tr>
            <tr>
              <td>SviEx Tool</td>
              <td>v1.41</td>
            </tr>
            <tr>
              <td>Tty Tool</td>
              <td>v1.3</td>
            </tr>
            <tr>
              <td>XL Tool</td>
              <td>v2.1</td>
            </tr>
          </tbody>
        </table>

        <h2>Useful Links</h2>
        <ul>
          <li><a href="https://www.anime-sharing.com/threads/sb3utility-gui-script-glossary-tutorials.166653/" target="_blank">SB3U Glossary & Tutorials</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1UMEewaJvLaEdvgbO-FG7lDik1w6Mul6YzTszEAI2CC4/edit?gid=0#gid=0" target="_blank">AA2 SB3U HEX Values Reference</a></li>
        </ul>
        <p><small>Credits: Egarim, CEO of ded from the discord server, the Hongfire community and the respective tool authors.</small></p>
    </div>
  </heading-anchors>
</main>
